{{/* Display copyright license. */}}
{{ $copyright_license := .Params.copyright.license | default site.Params.footer.copyright.license }}
{{ $notice := .Params.copyright.notice | default site.Params.footer.copyright.notice }}

<footer class="site-footer">
  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
  <p class="powered-by">
    {{ with site.GetPage "privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "terms.md" }}
      {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
  </p>
  {{ end }}

  <p class="powered-by copyright-license-text">
    {{ with $notice }}
      {{ replace . "{year}" now.Year | markdownify }}
    {{ end }}
  </p>
  {{ if not (in (slice "docs" "updates") .Type) }}
      <button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top">
          <i class="fas fa-arrow-up"></i>
      </button>
  {{ end }}
</footer>
<script>
  //Get the button
  const scrollTopButton = document.getElementById("btn-back-to-top");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 500 ||
      document.documentElement.scrollTop > 500
    ) {
      scrollTopButton.style.visibility = "visible";
      scrollTopButton.style.opacity = "1";
    } else {
      scrollTopButton.style.visibility = "hidden";
      scrollTopButton.style.opacity = "0";
    }
  }
  // When the user clicks on the button, scroll to the top of the document
  scrollTopButton.addEventListener("click", backToTop);

  function backToTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
